*{
	padding:0px ;
	margin:0px auto;
	box-sizing:border-box;
}
header{
	background-color: #f0f;
	width: 960px;
	height: 120px;
}
.clear{
	clear:both;
}
header nav{
	width: 960px;
	height: 50px;
	background-color: #000;
}
header nav .nav{
	width: 850px;
	height: 50px;
}
header nav .list li{
	width: 100px;
	height: 50px;
	list-style: none;
	text-align: center;
	line-height: 50px;
	float:left;
}
header nav a{
	color:#fff;
	font-size: 20px;
}
header nav .search{
	float:right;
	margin-right: 30px;
	margin-top: -35px;
}
section{
	width: 960px;
	/*height: 1500px;*/
	background-color: #f0f;

}
article{
	width: 50%;
	/*height: 1500px;*/
	float:left;
}
article .pic1{
	width: 400px;
	height:300px;
	margin-left: 10px;
}
article .pic2{
	width: 100px;
	height: 100px;
	margin-left: 10px;
	float:left;
}
article .k2{
	margin-top: 60px;
}
article .pic3{
	width: 400px;
	height: 300px;
	margin-left: 10px;


}
article .pic4{
	width: 100px;
	height: 100px;
	margin-left: 10px;
	float: left;
}
article .k3{
	margin-top: 60px;
}
article .pic5{
	width: 400px;
	height: 300px;
	margin-left: 10px;
}
article .pic6{
	width: 100px;
	height: 100px;
	margin-left: 10px;
	float: left;
}
aside{
	width: 25%;
	float:right;
	margin-right:50px;
}
aside .box1{
	width: 200px;
	height: 150px;
}
aside .box1 .list1 li{
	width: 200px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border:1px solid #ccc;
	background-color: #fff;
	list-style: none;
}
aside .box1 .li1{
	background-color:red;
}
aside .box2{
	margin-top: 60px;
	width: 200px;
	height: 150px;
}
aside .box2 .list2 li{
	width: 200px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border:1px solid #ccc;
	background-color: #fff;
	list-style: none;
}
footer{
	background-color: #000;
	width: 960px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
footer p{
	color:#fff;
}
.btn{
	display: none;
	
}

@media screen and (max-width:650px){
	.btn{
		display:block;
		float:left;
	}
	.nav .list{
		float: left;
		position: absolute;
		top:90px;
		
		
	}
	.nav .list li{
		display: none;
		float:none;
		text-align:left;
		background-color: #000;
	}
	article{
	
		float:none;
		width: 100%;
	}
	aside{
		width: 100%;
		float:none;
		
	}
	
	/*.pic1, .pic2 ,.pic3, .pic4, .pic5, .pic6{
		width:50%;
		height:50%;
	}*/

	header nav{
		width: 100%;
	}
	header nav .search{
		float:left;
		margin-left: 10%;

	}
	header{
		width: 100%;
	}
	header nav .nav{
		width: 100%;
	}
	section{
		width: 100%;
	}

	footer{
		width: 100%;
	}

}